<footer class="footer">
  {% include logo.html %}
  <nav class="footer-nav">
    <ul>
      <li>
        <a href="{{site.baseurl}}" class="english-fonts">Top<span class="logo-leaf"><img src="{{site.baseurl}}/assets/images/logo-leaf.png" alt="ロゴの葉"></span></a>
      </li>
      <li>
        <a href="{{site.baseurl}}/plan">各種プラン<span class="logo-leaf"><img src="{{site.baseurl}}/assets/images/logo-leaf.png" alt="ロゴの葉"></span></a>
      </li>
      <li>
        <a href="{{site.baseurl}}/gallery" class="english-fonts">Gallery<span class="logo-leaf"><img src="{{site.baseurl}}/assets/images/logo-leaf.png" alt="ロゴの葉"></span></a>
      </li>
      <li>
        <a href="{{site.baseurl}}/contact">お問い合わせ<span class="logo-leaf"><img src="{{site.baseurl}}/assets/images/logo-leaf.png" alt="ロゴの葉"></span></a>
      </li>
    </ul>
  </nav>
  <div class="center sns-icon"><a href="https://instagram.com/yuzuriha_garden"><i class="fab fa-instagram fa-2x"></i></a></div>
  <small class="copyright">
    &copy;2021 ゆずりは All rights Reserved.
  </small>
</footer>
