<header class="header">
  {% include logo.html %}
  <span id="menu-bar" class="mobile-only"><img src="{{site.baseurl}}/assets/images/bars.png" alt="メニュー"></span>
  <nav id="menu">
    <ul class="header-nav">
      <li class="mobile-only english-fonts"><a href="{{site.baseurl}}/">Top</a></li>
      <li><a href="{{site.baseurl}}/plan">各種プラン</a></li>
      <li><a href="{{site.baseurl}}/gallery" class="english-fonts">Gallery</a></li>
      <li><a href="{{site.baseurl}}/contact">お問い合わせ</a></li>
    </ul>
  </nav>
</header>

<script>
  let mediaQuery = matchMedia('(max-width: 800px)');
  handle(mediaQuery)
  mediaQuery.addListener(handle)
  function handle(mq) {
    if(mq.matches) {
      $(document).on('click', function(e) {
        if(!$(e.target).closest('#menu').length && !$(e.target).closest('#menu-bar').length){
          $('#menu').fadeOut()
        }else if($(e.target).closest('#menu-bar').length){
          if($('#menu').is(':hidden')){
            $('#menu').fadeIn()
          }else{
            $('#menu').fadeOut()
          }
        }
      })
    } else {
      $('#menu').fadeIn()
      $(document).off()
    }
  }
</script>
