<header class="header">
  {% include logo.html %}
  <span id="menu-bar" class="mobile-only"><img src="assets/images/bars.png" alt="メニュー"></span>
  <nav id="menu">
    <ul class="header-nav">
      <li class="mobile-only english-fonts"><a href="{{site.baseurl}}">Top</a></li>
      <li><a href="#">各種プラン</a></li>
      <li><a href="#" class="english-fonts">Gallery</a></li>
      <li><a href="#">お問い合わせ</a></li>
    </ul>
  </nav>
</header>

<script>
  $('#menu-bar').click(function() {
    $('#menu').fadeToggle(400)
  })
</script>
