<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if page.title %}
    <title>{{ page.title }} | ゆずりは | 外構・エクステリア デザイン図の制作代行</title>
    <meta property="og:title" content="{{ page.title }} | ゆずりは | 外構・エクステリア デザイン図の制作代行">
  {% else %}
    <title>ゆずりは | 外構・エクステリア デザイン図の制作代行</title>
    <meta property="og:title" content="ゆずりは | 外構・エクステリア デザイン図の制作代行">
  {% endif %}
  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
  {% else %}
    <meta name="description" content="外構・エクステリア デザイン図の制作代行いたします。">
  {% endif %}
  <meta property="og:url" content="{{site.url}}">
  <meta property="og:type" content="website">
  <meta property="og:image" content="{{ site.url }}/assets/images/ogp.png">
  <meta name="twitter:image" content="{{ site.url }}/assets/images/ogp.png" />
  <meta name="twitter:card" content="summary_large_image">
  <link href="../favicon.png" rel="icon">
  <link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
  <link rel="stylesheet" href="../assets/css/reset.css">
  <link rel="stylesheet" href="../assets/css/main.css">
</head>
