---
---
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
    color: #443624;
}
.english-fonts {
  font-size: 1.1em;
}
.contents {
  flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 100px;
  max-width: 1200px;
  @media (min-width: 1300px) {
    margin: 0 auto;
  }
}
.center {
  text-align: center;
}
.page-title {
  font-family: 'YuMincho', 'Yu Mincho', serif;
  font-size: 2.2em;
  padding: 1em 0;
}
.button {
  margin: 2em 0;
  box-sizing: border-box;
}
.button button,
.button a {
  display: inline-block;
  background-color: #379190;
  color: #fff;
  padding: 0.7em 2.6em;
  i {
    margin-left: 0.5em;
  }
  &:hover {
    opacity: 0.9;
  }
  @media (max-width: 800px) {
    font-size: 0.9em;
    padding: 0.7em 2em;
  }
}
#contact-form-button {
  padding: 0.7em 4em;
}
.button.reversal a{
  background-color: #fff;
  color: #379190;
  border: #379190 1px solid;
  &:hover {
    background-color: rgba(199,219,231,0.54);
  }
}
.pr-text {
  font-size: 1.1em;
  margin: 3em 3em;
  line-height: 1.8;
  @media (max-width: 480px) {
    font-size: 1em;
    .br {
      display: none;
    }
  }
}

// fade
.fade {
  opacity : 0;
  transition: opacity 1.5s;
}
.fade.view {
  opacity: 1;
}

// header
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'YuMincho', 'Yu Mincho', serif;
  color: #fff;
  height: 90px;
  background-color: #63A494;
  width: 100%;
  padding: 0 2% 0 6%;
}
#menu {
  display: flex;
  z-index: 100;
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &:hover {
    color: #c7dbe7;
  }
}
.logo-name {
  font-size: 160%;
  line-height: 1.5;
  text-align: center;
  margin-left: 0.6em;
}
.logo-leaf img {
  width: 26px;
  vertical-align: baseline;
}
.logo-subname {
  font-style: italic;
  text-align: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav {
  li {
    border-left: #fff 1px solid;
    a {
      padding: 0.8em 1.2em;
      display: inline-block;
      &:hover {
        color: #c7dbe7;
      }
    }
  }
}
.menu-bar {
  padding: 1em;
}
@media (min-width: 800px) {
  .mobile-only {
    display: none;
  }
}
@media (max-width: 800px) {
  .pc-only {
    display: none;
  }
}

// footer
.footer {
  font-family: 'YuMincho', 'Yu Mincho', serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 220px;
  padding: 1em 0;
  width: 100%;
  background-color: #c4c4c4;
  color: #fff;
  .sns-icon {
    margin-bottom: 0.5em;
    a:hover {
      color: #c7dbe7;
    }
  }
}
.footer-nav {
  display: flex;
  justify-content: center;
  ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    a {
      font-size: 0.9em;
      padding: 0.8em 1.2em;
      display: inline-block;
      &:hover {
        color: #c7dbe7;
      }
      .logo-leaf img {
        width: 1em;
        margin-left: 0.2em;
      }
    }
  }
}
.copyright {
  text-align: center;
}

// swiper
.swiper {
  width: 90%;
  height: 50%;
}
.swiper-slide img {
  max-width: 100%;
}
.swiper-button-prev,
.swiper-button-next {
  color: #63a494;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 2em;
}
.top .swiper-pagination,
.top .swiper-button-prev:after,
.top .swiper-button-next:after {
  display: none;
}
.swiper-pagination-bullet-active {
  background-color: #63a494;
}
.thumbnail .swiper-slide-active {
  opacity: 0.6;
  border: #0a7e8c 2px solid;
}
@media (max-width: 800px) {
  .swiper {
    margin-top: 20px;
    width: 100%;
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 1.2em;
  }
}

// topページ
.top-slide {
  position: relative;
  margin-bottom: 5%;
}
.description {
  font-family: 'YuMincho', 'Yu Mincho', serif;
  margin: 4% 0;
  line-height: 1.6;
  font-size: 1.8em;
  @media (max-width: 768px) {
    font-size: 1.4em;
  }
  @media (max-width: 670px) {
    font-size: 1.3em;
  }
}
.sub-description {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  width: calc(100% / 3);
  background-color: rgba(55,145,144,0.85);
  padding: 3%;
  z-index: 1;
  p {
    line-height: 1.9;
  }
  .logo-leaf {
    position: absolute;
    right: 1em;
    bottom: 1em;
    img {
      width: 24px;
    }
  }
  @media (max-width: 860px) {
    font-size: 0.8em;
  }
  @media (max-width: 1000px) {
    width: 40%;
  }
}
@media (max-width: 670px) {
  .sub-description.pc-only,
  .sub-description .logo-leaf img  {
    display: none;
  }
}
@media (min-width: 600px) {
  .sub-description .br,
  .can-do-title .br {
    display: none;
  }
}
.sub-description.mobile-only {
  position: static;
  width: 100%;
  color: #fff;
  font-size: 1em;
  text-align: right;
  background-image: url("../images/external.png");
  background-color:rgba(255,255,255,0.75);
  background-size: cover;
  background-position: center;
  margin: 8% 0;
  padding: 2em 1em;
  p {
    line-height: 1.6;
  }
  @media (min-width: 670px) {
    display: none;
  }
}
.can-do-description {
  text-align: center;
}

.can-do-boxes {
  display: flex;
  justify-content: space-around;
  margin: 5% 0;
}
.can-do-box {
  width: 30%;
  box-shadow: 1px 5px 8px #c4c4c4;
}
a.can-do-box:hover {
  opacity: 0.8;
}
.can-do-img img {
  width: 100%;
  padding: 3%;
}
.can-do-title {
  font-family: 'YuMincho', 'Yu Mincho', serif;
  font-size: 1.1em;
  color: #0a7e8c;
  background-color: #c7dbe7;
  text-align: center;
  padding: 8% 3%;
}
.design-description {
  margin: 3em 0;
  p {
    font-family: 'YuMincho', 'Yu Mincho', serif;
    background-color: rgba(199,219,231,0.54);
    padding: 2em 0;
    font-size: 1.4em;
    color: #0a7e8c;
    line-height: 1.8;
    text-align: center;
    @media (max-width: 670px) {
      font-size: 1em;
    }
  }
}
.top-gallery-images {
  margin: 2em 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.top-gallery-image {
  display: flex;
  align-items: center;
  width: 45%;
}
.top-gallery-image img {
  width: 100%;
}
.day-and-night {
  display: flex;
  justify-content: center;
  margin: 2em 0 ;
  .top-gallery-image {
    width: 38%;
  }
}
.top-bottom-pr {
  text-align: center;
  margin: 3em 0;
}

@media (max-width: 800px) {
  .header {
    position: relative;
    height: 64px;
    padding: 0 4% 0 8%;
    align-items: center;
    justify-content: space-between;
  }
  #menu {
    display: none;
    position: absolute;
    padding: 20px 20px 40px;
    top: 64px;
    right: 0;
    width: 260px;
    height: 350px;
    background-color: rgba(55,145,144,0.85);
  }
  .header-nav {
    display: block;
  }
  .header-nav {
    li {
      float: right;
      border-left: none;
      border-bottom: #fff 1px solid;
      width: 70%;
      a {
        display: block;
        padding: 2em 0.5em 0.4em 0.8em;
        &::after {
          font-family: "Font Awesome 5 Free";
          content: "\f054";
          font-weight: 600;
          float: right;
        }
      }
    }
  }
  .logo {
    transform: scale(0.8,0.8);
    flex-grow: 1;
  }
  .footer .logo {
    flex-grow: 0;
  }
  .footer-nav ul a {
    font-size: 0.8em;
    padding: 0.6em 1.2em;
  }
  .page-title {
    font-size: 1.5em;
  }
  .contents {
    padding-bottom: 60px;
  }
  .can-do-description {
    text-align: left;
    padding: 1em;
    line-height: 1.6;
    font-size: 1em;
  }
  .can-do-boxes {
    flex-direction: column;
    margin: 0 1em;
  }
  .can-do-box {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    border: #c7dbe7 1px solid;
    padding: 0 4%;
    margin: 2% 0;
    align-items: center;
  }
  a.can-do-box:hover {
    border: #0a7e8c 2px solid;
  }
  .can-do-title {
    display: flex;
    color: inherit;
    background-color: #fff;
    padding: 0;
    text-align: left;
    width: 60%;
    line-height: 1.4;
    p {
      align-self: center;
    }
  }
  .can-do-img {
    width: 50%;
    img {
      margin: 0;
    }
  }
}

@media (max-width: 600px) {
  .footer-nav ul a {
    padding: 0.8em 0.6em;
  }
  .top-gallery-image {
    width: 85%;
  }
  .day-and-night {
    display: block;
    position: relative;
    margin-top: 4em;
    .top-gallery-image {
      width: 60%;
    }
    .top-gallery-image.left,
    .top-gallery-image.right {
      display: block;
      width: 100%;
      img {
        width: 60%;
        box-shadow: 1px 5px 8px #c4c4c4;
      }
    }
    .top-gallery-image.left {
      position: absolute;
      top: -30%;
    }
    .top-gallery-image.right {
      text-align: right;
    }
  }
  .pr-text {
    margin: 2em 1em;
    text-align: left;
    small {
      display: block;
      text-align: center;
      padding: 1em 0;
    }
  }
}

// プランページ
.page-wrap {
  margin: 0 3%;
}
.line img {
  width: 60%;
}
.plan.can-do-box {
  height: auto;
}
.plan.can-do-box,
.things-to-prepare {
  width: 100%;
  max-width: 980px;
  margin: 3rem auto;
}
.plan.can-do-box .can-do-title {
  padding: 1.3rem 0;
  span {
    font-family: 'YuMincho', 'Yu Mincho', serif;
    font-size: 2rem;
    margin-right: 1em;
  }
  h2 {
    display: inline-block;
    font-size: 1.3rem;
    vertical-align: text-bottom;
  }
}
.plan-contents {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 1.4em;
  .can-do-img {
    width: 55%;
    img {
      width: 95%;
    }
  }
  .plan-description {
    position: relative;
    width: 45%;
    text-align: center;
    .plan-label {
      font-family: 'YuMincho', 'Yu Mincho', serif;
      display: inline-block;
      position: absolute;
      top: 3em;
      left: 12%;
      color: #0a7e8c;
    }
    .plan-type {
      font-size: 1.8rem;
    }
    .plan-number {
      font-size: 1.2rem;
    }
    h3 {
      display: inline-block;
      color: #0a7e8c;
      font-size: 1.4em;
      font-weight: bold;
      margin: 2.4em 0 1em;
      span {
        font-size: 1.4rem;
      }
    }
    h4 {
      font-size: 1.1rem;
      margin: 1em 0;
    }
    p {
      line-height: 1.4;
    }
    .price {
      font-size: 1.3rem;
      font-weight: bold;
      display: inline-block;
      padding: 0.1 0em;
      border-bottom: #0a7e8c 1px solid;
      margin: 0.4em 0;
      small {
        font-size: 0.9rem;
        font-weight: normal;
      }
    }
    .price.plan-c {
      font-size: 1rem;
    }
    .price-attention {
      font-size: 0.8rem;
    }
    .recommend {
      margin: 1em 6%;
      padding: 0.5em 5% 1em;
      background-color: #c7dbe7;
      color: #0a7e8c;
      border-radius: 8px;
      p {
        margin-bottom: 0.6em;
        display: inline-block;
      }
      ul {
        margin-left: 1em;
        text-align: left;
        font-size: 0.9em;
        list-style-type: disc;
        line-height: 1.8;
      }
      .logo-leaf {
        margin-left: 0.4em;
        img {
          width: 24px;
        }
      }
    }
    .plan-c-description {
      line-height: 1.8;
      margin: 1em 2em;
    }
  }
}
.plan-options {
  display: flex;
  justify-content: space-around;
  padding: 1em 0;
}
.option-contents {
  width: 30%;
  text-align: center;
  h4 {
    font-size: 1.1em;
    margin: 0.5rem 0;
  }
  p {
    margin: 1em 0;
  }
  .price {
    font-size: 1.1rem;
    font-weight: bold;
    display: inline-block;
    border-bottom: #0a7e8c 1px solid;
    span {
      font-size: 1rem;
    }
  }
}
.things-to-prepare {
  border: #0a7e8c 1px solid;
  padding: 1.6em 5em;
  line-height: 1.8;
  h3 {
    font-size: 1.3em;
    margin-bottom: 2em;
    p {
      display: inline-block;
      padding: 0.4em 0;
      border-bottom: 1px solid #0a7e8c;
    }
  }
  small {
    margin-left: 1.6em;
  }
  .things-to-prepare-list {
    font-weight: bold;
    i {
      color: #0a7e8c;
      margin-right: 0.6em;
    }
  }
  .things-to-prepare-bottom {
    margin: 1.5em 0;
    font-size: 0.9em;
  }
}
@media (max-width: 800px) {
  .plan.can-do-box {
    flex-direction: column;
    padding: 0;
    .can-do-title {
      display: block;
      width: 100%;
      text-align: center;
      padding: 0.3em 0;
      color: #0a7e8c;
      background-color: #c7dbe7;
      span {
        display: block;
        margin-right: 0;
      }
      h2 {
        display: block;
        font-size: 1.1em;
        font-weight: bold;
      }
    }
  }
  .plan-options {
    .can-do-img {
      width: 100%;
    }
  }
  .things-to-prepare h3 {
    font-size: 1em;
  }
}
@media (max-width: 600px) {
  .line {
    display: none;
  }
  .line.mobile-only {
    display: block;
    padding-bottom: 1em;
  }
  .page-wrap .pr-text {
    margin: 1em;
  }
  .plan.can-do-box {
    margin: 1.4em 0;
    .can-do-title {
      span {
        font-size: 1.8em;
      }
    }
    .can-do-title.option{
      padding: 1em 0;
    }
  }
  .plan-contents {
    flex-direction: column;
    .plan-description {
      width: 100%;
      h4 {
        margin: 0.5em 0
      }
      h3 {
        margin: 1.4em 0 1em;
      }
      .plan-label {
        top: 1.6em;
      }
      .plan-c-description {
        margin: 1.5em 1.8em;
      }
    }
    .can-do-img {
      margin-top: 1em;
      width: 90%;
      order: -1;
    }
  }
  .plan-options {
    flex-direction: column;
    .option-contents {
      width: 100%;
      .price {
        border-bottom: none;
      }
      .can-do-img img {
        width: 90%;
      }
    }
  }
  .things-to-prepare {
    padding: 1.4em 2em;
    small {
      margin-top: 0.2em;
      display: inherit;
      line-height: 1.5;
    }
  }
  .price-attention {
    margin: 1em 0;
  }
}
@media (min-width: 600px) {
  .line {
    display: block;
  }
  .line.mobile-only {
    display: none;
  }
}

// Galleryページ
.case-section {
  margin-bottom: 5em;
  background-color: rgba(199,219,231,0.54);
  padding-bottom: 2em;
  box-shadow: 1px 5px 8px #c4c4c4;
  h2 {
    font-family: 'YuMincho', 'Yu Mincho', serif;
    display: inline;
    position: relative;
    float: right;
    padding: 1.5em;
    padding-bottom: 0.5em;
    font-size: 1.5em;
    color: #0a7e8c;
    &::after {
      content: '';
      position: absolute;
      right: 2.4em;
      bottom: -0.4em;
      width: 80%;
      height: 1px;
      background-color: #443624;
    }
  }
  .swiper.slider {
    padding: 1em 0;
  }
  .case-number {
    display: inline-block;
    font-family: 'YuMincho', 'Yu Mincho', serif;
    font-size: 2em;
    padding: 0.6em 1.5em;
    color: #fff;
    background-color: rgba(55,145,144,0.85)
  }
}
.case-section.even-number {
  background-color: #fff;
}
@media (max-width: 960px) {
  .case-section {
    padding-bottom: 1em;
    h2 {
    font-size: 1.1em;
    }
    .case-number {
      font-size: 1.6em;
    }
    .swiper {
      padding: 0.8em;
      margin-top: 0;
    }
  }
}
@media (max-width: 690px) {
  .case-section {
    h2 {
      display: block;
      font-size: 1.1em;
      padding: 1em 1em 0.5em;
      float: none;
      &::after {
        width: 60%;
        left: 1.5em;
      }
    }
    .case-number {
      display: block;
      padding: 0.6em 0;
      font-size: 1.4em;
      text-align: center;
    }
    .swiper.thumbnail1,
    .swiper.thumbnail2,
    .swiper.thumbnail3 {
      padding: 0;
    }
  }
}

// お問い合わせフォーム
.form-wrap {
  width: 680px;
  padding: 3em 6em 1em;
  margin: 3em auto;
  border: #63a494 1px solid;
}
#contact-form {
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    font-family: "MS Pゴシック", sans-serif;
    border: #379190 1px solid;
    padding: 0.2em;
    font-size: 1em;
    margin: 0.1em 0 1.5em;
    width: 100%;
    outline: none;
    line-height: 1.5;
  }
  .checkbox {
    display: flex;
    align-items: center;
    input {
      margin-right: 0.3em;
    }
  }
  input:focus,
  textarea:focus {
    border: #0a7e8c 2px solid;
    background-color: rgba(199,219,231,0.54)
  }
  label.required::before {
    display: inline-block;
    margin-right: 1em;
    padding: 0.3em 2em;
    font-size: 0.8em;
    color: #fff;
    background-color: #379190;
    content: "必須";
  }
  label.optional::before {
    display: inline-block;
    margin-right: 1em;
    padding: 0.3em 2em;
    font-size: 0.8em;
    color: #fff;
    background-color: #7d7373;
    content: "任意";
  }
  .interest-checks {
    margin-bottom: 1.5em;
    p {
      margin-bottom: 0.4em;
    }
  }
  .interest-check {
    margin-left: 0.2em;
  }
  .policy {
    margin: 1em 0;
    a {
      color: #0a7e8c;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .policy-check {
    justify-content: center;
  }
}
@media (max-width: 800px) {
  .form-wrap {
    width: 90%;
    padding: 3em 3em 1em;
  }
}
@media (max-width: 480px) {
  .form-wrap {
    width: 100%;
    padding: 2em 1em 1em;
    margin-top: 0;
    border: none;
  }
  #contact-form label.required::before,
  #contact-form label.optional::before {
    padding: 0.3em 1em;
  }
}

// プライバシーポリシー
.policy-wrap {
  width: 70%;
  max-width: 980px;
  margin: 3em auto;
  line-height: 1.4;
  .policy-title {
    text-decoration: underline;
    font-weight: bold;
  }
  p, ul {
    margin: 1em 0;
  }
  .policy-nest-ul {
    margin-left: 1em;
  }
}
@media (max-width: 480px) {
  .policy-wrap {
    width: 90%;
    font-size: 0.9em;
  }
}
